// small-smartphones
$screen-xsm-max: 480px;

// smartphones
$screen-sm-max: 768px;

// tablets
$screen-md-max: 1200px;

// desktops
$screen-lg-max: 1940px;

// big desktops

$screen-xlg-max: 2600px;

// laptops
$screen-xl-max: 1440px;


// Small devices
@mixin smallest-mobile {
  @media (max-width: #{$screen-xsm-max}) {
    @content;
  }
}

// Small devices
@mixin mobile {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin tablet {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin desktop {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

//largest devices

@mixin bigest-desktop {
  @media (max-width: #{$screen-xlg-max}) {
    @content;
  }
}

// laptops

@mixin laptop {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}