@import '../own-styles/animations.scss';
@import '../own-styles/vars';
@import '../own-styles/breakpoints';
@import '../own-styles/wrapper';
@import '../own-styles/startscreen';
@import '../blocks/main/title/title';
@import '../blocks/main/nav/nav';
@import '../blocks/main/video/video';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
}

.page {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mobile {
    background-image: url('../img/mobile-bg.jpg');
  }
}

.flex {
  display: flex;
}

